<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>



<div class="footer">
<div class="footer">
   <div class="allfooteritems">
   <div class="footerimage">
<img src="images/stadium.jpeg" alt="" class="stadium">
   </div><!-- footerimage -->
<div class="footicons">


</div><!-- footicons -->
 <div class="finaltext">
   COPYRIGHT © 2021 . ALL RIGHT RESERVED BY COLORLIB
 </div><!-- finaltext -->
</div><!-- allfooteritems -->
</div><!-- footer -->
</div>

</body>
</html>