<<!DOCTYPE html>
<html>
      <head>
           <title> new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        
       

          <div class="header1" >
            <a href="/">HOME</a>
               <a href="/services">SERVICES</a>
            <a href="/instructions">INSTRUCTIONS</a>
               <a href="/team">TEAM</a>
            <a href="/details">DETAILS</a>
          </div>
          
      </body>
</html>