<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="css/style.css">
<body>




   <h2>{{>header}}</h2>
 <h5>{{title}}</h5>
 <img width="250" height="150" src={{img3}} alt="">

   <h2>{{>footer}}</h2>


  
</body>
</html>